In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/rideshare_2022_cleaned.csv", parse_dates=['trip_start_timestamp', 'date'])

In [3]:
df

,trip_start_timestamp,trip_seconds,trip_miles,fare,tip,additional_charges,trip_total,shared_trip_authorized,trips_pooled,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,date,weekday
0,2022-01-01 00:00:00,3905.0,44.5,55.0,0.0,11.25,66.25,0,1,41.972563,-87.678846,NaN,NaN,2022-01-01,Saturday
1,2022-01-01 00:00:00,2299.0,25.0,32.5,7.0,7.18,46.68,0,1,41.878866,-87.625192,NaN,NaN,2022-01-01,Saturday
2,2022-01-01 00:00:00,275.0,1.5,7.5,0.0,1.02,8.52,0,1,41.792357,-87.617931,41.812949,-87.617860,2022-01-01,Saturday
3,2022-01-01 00:00:00,243.0,1.0,5.0,0.0,2.36,7.36,0,1,41.936310,-87.651563,41.943155,-87.640698,2022-01-01,Saturday
4,2022-01-01 00:00:00,364.0,1.3,5.0,0.0,2.36,7.36,0,1,41.921855,-87.646211,41.936237,-87.656412,2022-01-01,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691093,2022-12-31 11:45:00,258.0,0.5,5.0,3.0,2.91,10.91,0,1,41.890922,-87.618868,41.890922,-87.618868,2022-12-31,Saturday
691094,2022-12-31 11:45:00,97.0,0.2,2.5,0.0,3.98,6.48,0,1,41.880994,-87.632746,41.877406,-87.621972,2022-12-31,Saturday
691095,2022-12-31 11:45:00,1653.0,18.7,22.5,0.0,0.64,23.14,1,1,41.836150,-87.648788,NaN,NaN,2022-12-31,Saturday
691096,2022-12-31 11:45:00,1027.0,6.7,15.0,5.0,4.63,24.63,0,1,41.874005,-87.663518,41.944227,-87.655998,2022-12-31,Saturday
691097,2022-12-31 11:45:00,269.0,1.3,5.0,0.0,3.03,8.03,0,1,NaN,NaN,42.007613,-87.813781,2022-12-31,Saturday

In [4]:
df.to_parquet("data/rideshare_2022_cleaned.parquet")